AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: None
AlignConsecutiveAssignments: None   # maybe change this?
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
# clang 17
#AlignConsecutiveShortCaseStatements:
#  Enabled: true
#  AcrossEmptyLines: false
#  AcrossComments: false
#  AlignCaseArrows: false
#  AlignCaseColons: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: Always
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
# clang 18
#AllowBreakBeforeNoexceptSpecifier: Always
AllowShortBlocksOnASingleLine: Empty
# clang 19
#AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
# clang 19
#AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: false
# we probably do not use this
#AttributeMacros:
BinPackArguments: false
#BinPackParameters: OnePerLine
BinPackParameters: false
BitFieldColonSpacing: Both
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
#BracedInitializerIndentWidth:
# clang 18
#BreakAdjacentStringLiterals: false
BreakAfterAttributes: Leave
# clang 19
#BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeConceptDeclarations: Never
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true
# clang 20
#BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: AfterColon
# clang 19
#BreakFunctionDefinitionParameters: false
BreakInheritanceList: AfterColon
BreakStringLiterals: false
#BreakTemplateDeclarations: Yes
ColumnLimit: 120
# do not really need the following
#CommentPragmas:
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
# do not need the following two
#ForEachMacros
#IfMacros
IncludeBlocks: Regroup
# do not need these either
#IncludeCategories
#IncludeIsMainRegex
#IncludeIsMainSourceRegex
IndentAccessModifiers: false
IndentCaseBlocks: true
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentPPDirectives: None
IndentRequiresClause: false
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertBraces: false
InsertNewlineAtEOF: true
# clang 19
#KeepEmptyLines:
#  AtEndOfFile: false
#  AtStartOfBlock: false
#  AtStartOfFile: false
LambdaBodyIndentation: Signature
LineEnding: LF
Language: Cpp
# do not need these three
#MacroBlockBegin
#MacroBlockEnd
#Macros
# clang 19
#MainIncludeChar: Quote
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
# no need for this
#NamespaceMacros:
# IndentPPDirectives is disabled, so the following has no meaning
#PPIndentWidth:
PackConstructorInitializers: NextLine
# we do not set any of the Penalty* manually
PointerAlignment: Right
# do not manually set these two
#QualifierOrder:
#RawStringFormats:
ReferenceAlignment: Right
ReflowComments: true
RequiresExpressionIndentation: OuterScope
SeparateDefinitionBlocks: Leave # perhaps change this in the future
ShortNamespaceLines: 1
# clang 18
#SkipMacroDefinitionBody: false
SortIncludes: CaseInsensitive
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Both
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 4
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInSquareBrackets: false
Standard: Latest
# do not need these
#StatementAttributeLikeMacros
#StatementMacros
#TableGenBreakInsideDAGArg
#TableGenBreakingDAGArgOperators
TabWidth: 4
#TypeNames
#TypenameMacros
UseTab: Never
#WhitespaceSensitiveMacros
