# ignore GBA ROMs and its save files
/gba_games
*.gba
*.sav
*.ss[1-9]

# ignore log files
/*.log
asan.log*

# ignore bregalads doc
/sappy.txt

# ignore profiler files
/gmon.out
/analysis*

# ignore build directories and files
/CMakeLists.txt.user
/build
/build_dbg
/build_artifacts

# vscode always wants a little extra attention
/.vscode

# as well as clangd
/.cache
