<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.60.0.0" targetFramework="Native" />
  <package id="pdcurses_vc120" version="3.4.0.3" targetFramework="Native" developmentDependency="true" />
  <package id="portaudio" version="0.19.1" targetFramework="Native" />
  <package id="portaudio.redist" version="0.19.1" targetFramework="Native" />
</packages>